{% extends "base.html" %}


{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/product-page.css' %}">


<div class="container">
    <div class="row">
        <div class="col-3 search-product-detail">
          <form>
            
            <label class="mt-3">Nhà xuất bản:</label>
            <select name='publisherId' class="form-control">  
              <option value="">--Chọn Nhà xuất bản--</option>  
              {% for p in publisher %}    
                <option {%if p.id == publisherId%}selected{%endif%}
                  value="{{p.id}}">{{p.name}}</option>
              {% endfor %}                            
            </select>
    
            <label class="mt-3">Mức giá:</label>
            <select name='priceId' class="form-control">  
              <option value="">--Chọn mức giá--</option>  
              {% for pr in priceList %}    
                <option {%if pr.id == priceId%}selected{%endif%}
                  value="{{pr.id}}">{{pr.name}}</option>
              {% endfor %}    
            </select>
    
            <button class="mt-3 btn btn-primary" type="submit">
              Tìm kiếm
            </button>
          </form>
        </div>
        <div class="col-9 product-cat">
            <ul class="list-unstyled row">
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}